beautifulsoup4==4.5.3
Django==1.10.7
django-modelcluster==3.1
django-registration-redux==1.6
django-taggit==0.22.1
django-treebeard==4.1.0
djangorestframework==3.6.2
graphene==1.4
graphene-django==1.2.0
graphql-core==1.1
graphql-relay==0.4.5
html5lib==0.999999999
iso8601==0.1.11
olefile==0.44
Pillow==4.1.0
pkg-resources==0.0.0
promise==2.0.1
pytz==2017.2
requests==2.13.0
singledispatch==3.4.0.3
six==1.10.0
typing==3.6.1
Unidecode==0.4.20
wagtail==1.9.1
webencodings==0.5.1
Willow==0.4
